<html>
  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .text-green {
            color: green;
        }
        .text-red {
            color: red;
        }
    </style>
  </head>

  <body>
    <div id="app">
        <section 
        v-show="inProgress.length"
        >
            <h2>In Progress</h2>
            <ul>
                <li v-for="assignment in assignments.filter(assignment => ! assignment.complete)">
                    <label>
                        {{assignment.name}}
    
                        <input type="checkbox" v-model="assignment.complete" :key="assignment.id">
                    </label>
                </li>
            </ul>
        </section>
        

        <section v-show="completedAssignments.length">
            <ul>
                <h2>Completed</h2>
                <li v-for="assignment in completedAssignments">
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete" :key="assignment.id">
                    </label>
                </li>
            </ul>
        </section>
        

        <!-- <pre>
            {{assignments}}
        </pre> -->
    </div>
    
    

    </script>
    <script src="app.js"></script>
  </body>
</html>
